@font-face {
    font-family: 'DS-Digital Normal';
    font-style: normal;
    font-weight: normal;
    src: local('DS-Digital Normal'), url('../webfonts/DS-DIGI.woff') format('woff');
}

@font-face {
	font-family: 'Toledo-Bold';
	src: url('../webfonts/toledosfbold0.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.right-child {
    position: absolute;
    top: -100vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transition: 1s linear;
    z-index: 1;
}

.right-child.show {
    top: 10vh;
}

.modal-wrap, 
.coffee-creation-wrap {
    display: none;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modal-wrap.show, 
.coffee-creation-wrap.show {
    display: block;
}

.modal, 
.coffee-creation {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
    background-color: #444;
    border-radius: 10px;
}

.coffee-creation {
    background-color: rgb(150, 140, 123);
}

.modal.show, .coffee-creation.show { 
    display: block;
}

.modal-top,
.coffee-creation-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-basis: 10%;
    background-color: #555;
}

.coffee-creation-top {
    background-color: rgb(133, 123, 107);
}

.modal-top h3,
.coffee-creation-top h3 {
    font-size: 1.7rem;
    margin: 5px 15px;
    font-family: Lato, sans-serif;
}

.modal-top i,
.coffee-creation-top i,
.menu-top i {
    font-size: 3rem;
    margin: 5px 15px;
    color: brown;
}

.modal-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    height: 90%;
    width: 100%;
    text-align: center;
}

/*custom coffee*/
.coffee-creation-mid {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffee-creator,
.coffee-config {
    height: 95%;
    flex-basis: 50%;
}

#custom-coffee-form {
    height: 100%;
}

.coffee-config {
    height: 80%;
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
}

.coffee-creator {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.custom-name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-name button,
#add-to-coffee-machine,
#reset-custom-coffee,
.custom-name input  {
    padding: 8px;
    margin: 5px;
    font-size: 1.2rem;
    background-color:darkslategray;
    border: none;
    border-radius: 3px;
    color: white;
}

#reset-custom-coffee {
    background-color: brown;
}

#add-to-coffee-machine:disabled {
    color: rgba(19, 1, 1, 0.3);
    background-color: rgba(239, 239, 239, 0.3);
}

.custom-name input {
    width: 9em;
    background-color: lightgray;
    color: black;
}

.custom-name input:focus {
    outline: none;
}

.coffee-config input {
    appearance: none;
    width: 14em;
    height: 16px;
    cursor: pointer;
    background: lightgray;
    margin: 1em;
}

#custom-coffee-name,
#added-to-coffee-machine-message {
    width: 90%;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#custom-coffee-name.error {
    background-color: rgb(219, 120, 120);
    color: rgb(128, 16, 16);
}

#added-to-coffee-machine-message,
#custom-coffee-name.success {
    background-color: rgb(116, 185, 116);
    color: rgb(5, 90, 5);
}

input[type=range]::-webkit-slider-thumb {
    height: 30px;
    width: 15px;
    background: darkslategray;
    border-radius: 3px;
    cursor: pointer;
    appearance: none;
  }

.custom-coffee {
    position: relative;
    height: 16em;
    width: 14em;
    border-radius: 0 0 25% 25%;
    overflow: hidden;
    border: 3px solid aliceblue;
}

.custom-coffee-inner {
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: 2s;
}

.inner-coffee,
.inner-milk,
.inner-foam {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #4b3b32;
    z-index: 3;
    bottom: 0;
    left: 0;
    transition: 2s;
}

.inner-milk {
    height: 50%;
    background-color: #ded3a6;
    z-index: 2;
}

.inner-foam {
    height: 50%;
    background-color: #eee;
    z-index: 1;
}

.coffee-config {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.coffee-config div {
    height: 25%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*#######*/
.alert {
    display: none;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 1;
    width: 60%;
    padding: 15px 5px;
    transform: translate(-50%, 0);
    color: white;
    border: 4px solid brown;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.alert i {
    color: orange;
    font-size: 2rem;
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 30%;
    width: 35%;
    height: 90%;
}

.content-container i {
    color: cornflowerblue;
    font-size: 2rem;
}

.content-container p {
    font-family: Lato;
    color: white;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    height: 60%;
}

.img-container img {
    transform: scale(50%);
}

#menu-bars {
    position: fixed;
    top: 12%;
    left: 1%;
    z-index: 3;
    font-size: 2.2rem;
    cursor: pointer;
    color: rgb(83, 59, 49);
}

.action-icons {
    position: absolute;
    top: 0;
    left: -35%;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 20%;
    background-color: rgb(150, 140, 123);
    transition: .5s linear;
}

.action-icons.show {
    left: 0;
}

.action-icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 65%;
    cursor: pointer;
}

.action-icons div:hover {
    font-size: 1.1rem;
    transition: .5s;
}

.action-icons p {
    margin: 0 10px;
    color: white;
    font-weight: bold;
    font-family: Lato;
}

#arrow-icon,
#plus-icon,
#mug-icon {
    margin-left: -5px;
    font-size: 2rem;
    transition: 1s linear;
    color: rgb(83, 59, 49);
}

#mug-icon {
    font-size: 1.6rem;
}

#arrow-icon.show {
    transform: rotate(180deg);
}

.left-child {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #BBAF99;
}

.left-child.blur {
    filter: blur(2px);
    position: fixed;
}

.coffee-machine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40em;
    width: 45em;
    border-radius: 10px;
}

.coffee-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #709263;
}

.menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
    width: 100%;
    background-color: #526B48;
}

.menu-top h2 {
    width: 100%;
    font-family: Black-Jack regular;
    font-size: 2rem;
    /* letter-spacing: .3em; */
    color: #eee;
    font-weight: bold;
}

.menu-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 100%;
}

.menu-main img {
    width: 6em;
}

.menu-main h2, .menu-main li {
    font-family: Lato, sans-serif;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.menu-main li:first-child {
    list-style: none;
    text-align: center;
}

.menu-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
}

@media (max-width:1100px) {
    .action-icons {
        width: 35%;
    }

    .alert {
        width: 75%;
    }

    .modal,
    .coffee-creation {
        height: 90%;
        width: 90%;
    }

    .menu-item {
        flex-basis: 60%;
    }
    
    .coffee-machine {
        height: 35em;
        width: 42em;
    }

    .menu-main img {
        width: 5em;
    }
}

@media (max-width:640px) {
    .custom-coffee {
        height: 14em;
        width: 12em;
    }

    .action-icons {
        width: 50%;
        left: -50%;
    }

    .alert {
        padding: 5px;
        top: 11%;
        width: 90%;
        font-size: 1.1rem;
    }

    .modal-wrap,
    .coffee-creation-wrap {
        height: 180vh;
    }

    .coffee-creation-mid {
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .coffee-config,
    .coffee-creator {
        width: 100%;
        height: 100%;
    }

    .coffee-config div {
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
    }

    #custom-coffee-form {
        width: 100%;
        height: 50%;
    }

    #custom-coffee-name,
    #added-to-coffee-machine-message {
        width: 80%;
        margin: 1em;
    }

    .modal,
    .coffee-creation {
        height: 100%;
        width: 90%;
    }

    .modal-mid {
        flex-direction: column;
        justify-content: space-around;
    }

    .content-container {
        justify-content: space-around;
        height: 30%;
        width: 100%;
    }

    .img-container {
        height: 60%;
    }

    .img-container img {
        transform: scale(50%);
    } 

    .right-child {
        top: -150vh;
    }
    
    .right-child.show {
        height: 150vh;
    }
    
    .menu-item {
        flex-basis: 100%;
        flex-direction: column;
    }

    .menu-main h2 {
        font-size: 1.4rem;
    }

    .coffee-machine {
        height: 35em;
        width: 35em;
    }

    .menu-top {
        border-radius: 0;
    }
}

@media (max-width:400px) {
    .custom-coffee {
        height: 12em;
        width: 10em;
    }

    .action-icons {
        width: 70%;
        left: -70%;
    }

    .alert {
        padding: 5px;
        top: 12%;
        width: 100%;
        font-size: 1rem;
    }

    .alert i {
        font-size: 1.6rem;
    }

    .modal,
    .coffee-creation {
        width: 100%;
    }

    .modal-top h3 {
        font-size: 1.4rem;
    }

    .coffee-machine {
        height: 32em;
        width: 25em;
    }

    .coffee-creation,
    .coffee-creation-top {
        border-radius: 0;
    }
}

