.modal.show {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 50%;
    background-color: #444;
    z-index: 2;
}

.active {
    color: black;
    background-color: rgb(1, 138, 200);
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 100%;
    background-color: rgb(148, 169, 194);
    border-radius: 10px;
    border: 3px solid rgb(127, 145, 167);
}

.main-btn-box, 
.side-btn-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 25%;
    background-color: rgb(153, 153, 153);
    border: 3px solid #888;
    border-radius: 10px;
}

.side-btn-box {
    align-items: stretch;
    flex-direction: column;
}

.power-btn-box, .start-btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
}

.side-btn-box button {
    height: 1.3em;
    width: 1.3em;
    transition: 2s linear;
    border-radius: 3px;
    border: 2px solid #666;
}

.side-btn-box button:enabled {
    background-color: rgb(1, 138, 200);
} 

.side-btn-box label {
    font-size: .8rem;
}

.side-btn {
    display: flex;
    justify-content: space-between;
    margin: 0 1em 0 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 30%;
}

.text label {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#output-text {
    width: 100%;
    padding: .4em;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: .1rem;
    font-family: 'DS-Digital Normal', sans-serif;
    border: 2px solid #888;
    color:#000;
    transition: 2s linear;
}

.power, .start {
    height: 2.5em;
    width: 2.5em;
    padding: 0;
    border-radius: 6px;
    border: 2px solid #666;
    font-size: 1rem;
    text-align: center;
    transition: 2s linear;
}

.power-default {
    color: rgba(19, 1, 1, 0.3);
    background-color: rgba(239, 239, 239, 0.3);
}

.small-btn-power, .small-btn-start {
    height: .7em;
    width: .7em;
    border-radius: 50%;
    background-color: rgb(185, 4, 4);
    transition: 2s linear;
}

.small-btn-start {
    background-color: #777;
}

.mid {
    height: 100%;
    width: 85%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #aaa;
    border-right: 3px solid #888;
    border-left: 3px solid #888;
}

.fluid-tanks {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 60%;
    width: 35%;
    top: 10%;
    right: 0;
}

.milk-tank,
.water-tank,
.coffee-tank {
    position: relative;
    height: 70%;
    flex-basis: 30%;
    border: 3px solid #666;
    border-radius: 8px;
    overflow: hidden;
}

.label-milk-tank,
.label-water-tank,
.label-coffee-tank,
.milk-percent,
.water-percent,
.coffee-percent {
    display: block;
    text-align: center;
    flex-basis: 25%;
    font-size: .9rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #666;
    transition: 2s linear;
}

.milk-percent,
.water-percent,
.coffee-percent {
    color: #888;
}

.milk-percent.active,
.water-percent.active,
.coffee-percent.active {
    color: rgb(1, 138, 200);
    background-color: transparent;
}

.milk-in-tank,
.water-in-tank,
.coffee-in-tank {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    transition: 1s linear;
}

.water-in-tank {
    background-color: lightblue;
}

.coffee-in-tank {
    background-color: #4b3b32;
}

.bottom {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.base {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 95%;
    background-color: rgb(148, 169, 194);
    border: 3px solid rgb(127, 145, 167);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.base button {
    height: 65%;
    width: 30%;
    transition: 1s linear;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    border: 2px solid #666;
}

.base button:enabled,
.start:enabled {
    color: #000;
    background-color: rgb(1, 138, 200);
}

.stand {
    height: 20%;
    width: 100%;
    background-color: #555;
}

.box-container {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.box {
    height: 20%;
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px; 
    background-color: #444;
    
}

.lever {
/*##### portafilter #####*/
    height: 50%;
    width: 110%;
    position: absolute;
    background-color: #333;
    margin-right: 70%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.box-top {
    height: 15%;
    width: 80%;
    background-color: #777;
}

.box-bottom {
    height: 5%;
    width: 55%;
    background-color: #777;
}

.mini-box {
    margin: 0;
    height: 15%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.mini-box-left, .mini-box-right {
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #333;
}

.cup {
    position: relative;
    height: 60%;
    width: 20%;
    border-radius: 0 0 25% 25%;
    z-index: 1;
    overflow: hidden;
    border: 3px solid aliceblue;
}

.cup-coffee {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: #755542;
    z-index: -1;
    transition: 6s;
}

.cup-milk {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: #ded3a6;
    z-index: -1;
    transition: 6s;
}

.cup-foam {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: #eee;
    z-index: -1;
    transition: 6s;
}

.coffee, .milk {
    position: absolute;
    top: 43%;
    width: 8%;
    opacity: 0;
}

.coffee {
    left: 36%;
    background-color: #755542;
}

.milk {
    right: 36%;
    background-color: #fefefe;
}

.pour {
    animation: pour 6s linear 1;
}

@keyframes pour {
    0% {
        height: 0;
        opacity: 1;
    }

    20% {
        height: 115%;
        opacity: 1;
    }

    95% {
        height: 115%;
        opacity: 1;
    }

    100% {
        height: 115%;
        opacity: 0;
    }
}

@media(max-width:1024px) {
    .coffee, .milk {
        width: .6em;
    }
}

@media (max-width:640px) {
    .mid {
        width: 95%;
        align-items: flex-start;
    }

    .box-container {
        margin-left: 10%;
    }

    .cup {
        margin-left: 15%;
    }

    .base {
        width: 100%;
    }

    .start, .power {
        height: 2.2em;
        width: 2.2em;
        font-size: .8rem;
    }

    .side-btn-box {
        width: 40%;
    }

    .side-btn-box button {
        height: 1em;
        width: 1em;
    }

    .side-btn-box label {
        font-size: .7rem;
    }

    #output-text {
        font-size: .8rem;
    }

    .text label {
        font-size: .8rem;
    }

    .coffee, .milk {
        width: .5em;
    }

    .base button {
        font-size: .9rem;
        width: 40%;
    }

    .fluid-tanks {
        width: 38%;
    }

    .fluid-tanks label {
        font-size: .8rem;
    }

    .fluid-tanks span {
        font-size: .8rem;
    }
}

@media(max-width:360px) {
    .fluid-tanks {
        width: 50%;
    }
}