body {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh
}

button {
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25em;
    width: 30em;
    margin: 0 auto;
    border-radius: 10px;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45%;
    width: 100%;
    background-color: rgb(148, 169, 194);
    border-radius: 10px;
}

.main-btn-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80%;
    width: 25%;
    background-color: rgb(153, 153, 153);
}

.power-btn-box, .start-btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
}

.side-btn-box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 80%;
    width: 25%;
}

.side-btn-box button {
    height: 1em;
    width: 1em;
}

.side-btn-box label {
    font-size: .8rem;
}

.side-btn {
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 30%;
}

#output-text {
    width: 80%;
    padding: .4em;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: .1rem;
    font-family: 'DS-Digital', sans-serif;
    border: none;
    color:#000;
}

.power, .start {
    height: 2.5em;
    width: 2.5em;
    padding: 0;
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    text-align: center;
    color: #aaa;
    background-color: #444;
}

.start {
    right: 5em;
}

.small-btn-power, .small-btn-start {
    height: .7em;
    width: .7em;
    border-radius: 50%;
    background-color: rgb(185, 4, 4);
}

.small-btn-start {
    background-color: #777;
}

.mid {
    height: 90%;
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #ccc;
}

.bottom {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.base {
    height: 80%;
    width: 95%;
    background-color: rgb(148, 169, 194);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.stand {
    height: 20%;
    width: 100%;
    background-color: #555;
}

.box-container {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.box {
    height: 15%;
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px; 
    background-color: #444;
    
}

.lever {
/*##### portafilter #####*/
    height: 50%;
    width: 110%;
    position: absolute;
    background-color: #333;
    margin-right: 70%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box-top {
    height: 10%;
    width: 80%;
    background-color: #777;
}

.box-bottom {
    height: 5%;
    width: 55%;
    background-color: #777;
}

.mini-box {
    margin: 0;
    height: 15%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.mini-box-left, .mini-box-right {
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #333;
}

.coffee, .milk {
    margin-top: 0.45em;
    height: 60%;
    width: 60%;
    opacity: 0;
}

.coffee {
    background-color: #755542;
}

.milk {
    background-color: #fefefe;
}

.pour {
    animation: pour 6s linear 1;
}

@keyframes pour {
    0% {
        height: 0;
        opacity: 1;
    }

    5% {
        height: 0;
        opacity: 1;
    }

    20% {
        height: 6rem;
        opacity: 1;
    }

    95% {
        height: 6rem;
        opacity: 1;
    }

    100% {
        height: 6rem;
        opacity: 0;
    }
}