.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45%;
    width: 100%;
    background-color: rgb(148, 169, 194);
    border-radius: 10px;
}

.main-btn-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80%;
    width: 25%;
    background-color: rgb(153, 153, 153);
}

.power-btn-box, .start-btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
}

.side-btn-box {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 80%;
    width: 25%;
    background-color: rgb(153, 153, 153);
}

.side-btn-box button {
    height: 1.3em;
    width: 1.3em;
    transition: 3s;
}

.side-btn-box button:enabled {
    background-color: rgb(1, 138, 200);
} 

.side-btn-box label {
    font-size: .8rem;
}

.side-btn {
    display: flex;
    justify-content: space-between;
    margin: 0 1em 0 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 30%;
}

#output-text {
    width: 80%;
    padding: .4em;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: .1rem;
    font-family: 'DS-Digital Normal', sans-serif;
    border: none;
    color:#000;
    transition: 3s;
}

.power, .start {
    height: 2.5em;
    width: 2.5em;
    padding: 0;
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    text-align: center;
    color: #aaa;
    background-color: #444;
    transition: 3s;
}

.start {
    right: 5em;
}

.small-btn-power, .small-btn-start {
    height: .7em;
    width: .7em;
    border-radius: 50%;
    background-color: rgb(185, 4, 4);
    transition: 3s;
}

.small-btn-start {
    background-color: #777;
}

.mid {
    height: 90%;
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #aaa;
}

.bottom {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.base {
    height: 80%;
    width: 95%;
    background-color: rgb(148, 169, 194);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.stand {
    height: 20%;
    width: 100%;
    background-color: #555;
}

.box-container {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.box {
    height: 20%;
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px; 
    background-color: #444;
    
}

.lever {
/*##### portafilter #####*/
    height: 50%;
    width: 110%;
    position: absolute;
    background-color: #333;
    margin-right: 70%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box-top {
    height: 15%;
    width: 80%;
    background-color: #777;
}

.box-bottom {
    height: 5%;
    width: 55%;
    background-color: #777;
}

.mini-box {
    margin: 0;
    height: 15%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.mini-box-left, .mini-box-right {
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #333;
}

.cup {
    position: relative;
    height: 60%;
    width: 20%;
    border-radius: 0 0 25% 25%;
    z-index: 1;
    overflow: hidden;
    border: 3px solid aliceblue;
}

.cup-coffee {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: #755542;
    z-index: -1;
    transition: 6s;
}

.cup-milk {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: #ded3a6;
    z-index: -1;
    transition: 6s;
}

.cup-foam {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: #eee;
    z-index: -1;
    transition: 6s;
}

.coffee, .milk {
    position: absolute;
    margin-top: .2em;
    width: .8em;
    opacity: 0;
}

.coffee {
    background-color: #755542;
}

.milk {
    background-color: #fefefe;
}

.pour {
    animation: pour 6s linear 1;
}

@keyframes pour {
    0% {
        height: 0;
        opacity: 1;
    }

    5% {
        height: 0;
        opacity: 1;
    }

    20% {
        height: 120%;
        opacity: 1;
    }

    95% {
        height: 120%;
        opacity: 1;
    }

    100% {
        height: 120%;
        opacity: 0;
    }
}

@media(max-width:1000px) {
    .coffee, .milk {
        width: .6em;
    }
}

@media (max-width:500px) {
    .start, .power {
        height: 2.2em;
        width: 2.2em;
        font-size: .8rem;
    }

    .side-btn-box {
        width: 35%;
    }

    .side-btn-box button {
        height: 1em;
        width: 1em;
    }

    .side-btn-box label {
        font-size: .7rem;
    }

    #output-text {
        font-size: .8rem;
    }

    .coffee, .milk {
        width: .5em;
    }
}