body {
    margin: 0;
    background-color: #BBAF99;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 120vh;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 80%;
}

.coffee-beans {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.column img {
    width: 80%;
    margin: .5em;
}

.coffee-beans img {
    width: 1em;
}

#bean-lat img:nth-child(n + 2) {
    opacity: .5;
} 

#bean-am img:nth-child(4) {
    opacity: .5;
} 

#bean-cap img:nth-child(n + 3) {
    opacity: .5;
} 

.column h2 {
    font-size: 2rem;
    font-family: Black-Jack regular, cursive;
    color: #533B31;
}

.column p {
    width: 80%;
    font-size: 1rem;
    line-height: 1.8em;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #533B31;
    padding: .5em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100%;
    height: 10vh;
}

.pure-coffee, 
.water, 
.milk, 
.milk-foam {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background-color: #755542;
}

.water {
    background-color: #DAE8E8;
}

.milk {
    background-color: #DED3A6;
}

.milk-foam {
    background-color: #FFFFFE;
}

.intensity {
    width: 1.5em;
}

footer label {
    font-family: Lato;
    font-weight: bold;
    font-size: 1rem;
    color: #533B31;
}

footer div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 20%;
}


@media (max-width:900px) {
    .container {
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh * 4);
    }

    .column {
        height: 100vh;
        width: 100%;
    }

    .column img {
        width: 40%;
    }

    .column h2 {
        font-size: 3rem;
    }

    .column p {
        font-size: 1.2rem;
        width: 90%;
    }

    .coffee-beans {
        width: 2.5em;
    }

    footer {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
    }

    footer div {
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }
}

@media (max-width:400px) {
    .pure-coffee, 
    .water, 
    .milk, 
    .milk-foam {
        height: 2em;
        width: 2em
    }

    .intensity {
        width: 1.2em;
    }
}

@media (max-height:500px) {
    .column {
        height: 150vh;
    }

    footer {
        height: 30vh;
    }

    footer div {
        height: 100%;
    }
}


@media (max-height:300px) {
    .column {
        height: 200vh;
    }

    footer {
        height: 50vh;
    }
}