* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 300vh;
}

.top {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #533B31;
    background-image: url("../images/coffee-machine-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.top-text {
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: Lato;
    font-weight: bold;
    color: #e08700;
}

.top-text h2:first-child {
    font-size: 3rem;
}

.top-text h2:nth-child(2) {
    font-size: 6rem;
}

.top-text p {
    font-size: 2rem;
    width: 80%;
}

.bottom {
    background-color: #fff6da;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 200vh;
    font-family: Lato;
    font-weight: bold;
}

.bottom-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.bottom-text {
    font-size: 3rem;
    display: none;
}

.col {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.col img.coffee-machine-img {
    width: 28em;
}

.col img.cup-img {
    width: 25em;
}

.col img.coffee-beans-bag-img {
    width: 20em;
}

.col-h {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    padding: 15px 0;
    font-size: 2rem;
    background-color:#c77700;
    color: #fff;
}

.col p {
    font-size: 1rem;
    padding: 1em;
    line-height: 2rem;
    text-align: left;
}

@media (max-width: 1024px) {
    body {
        min-height: 400vh;
    }

    .top {
        height: 100vh;
    }

    .top-text {
        height: 40%;
    }

    .top-text h2:first-child {
        font-size: 2rem;
    }
    
    .top-text h2:nth-child(2) {
        font-size: 4rem;
    }

    .top-text p {
        font-size: 1.5rem;
    } 

    .bottom-col {
        height: 100%;
    }

    .col {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
    }

    .col-h {
        font-size: 1.8rem;
    }

    .col img.coffee-machine-img {
        width: 22em;
    }
    
    .col img.cup-img {
        width: 20em;
    }
    
    .col img.coffee-beans-bag-img {
        width: 15em;
    }
}

@media (max-width:640px) {   
    .top h2:first-child {
        font-size: 1.6rem;
    }

    .top h2:nth-child(2) {
        font-size: 3.5rem;
    }

    .top {
        background-image: url(../images/coffee-machine-image-small.jpg);
        background-position: left;
    }

    .top-text {
        width: 70%;
        color: #ffba52;
    }

    .top-text p {
        font-size: 1rem;
        width: 80%;
    }

    .col-h {
        font-size: 1.5rem;
    }

    .col img.coffee-machine-img {
        width: 16em;
    }
    
    .col img.cup-img {
        width: 16em;
    }
    
    .col img.coffee-beans-bag-img {
        width: 13em;
    }
}

@media(max-width:360px) {
    .top {
        align-items: center;
        justify-content: center;
    }
    .top-text {
        width: 80%;
    }

    .col img.coffee-machine-img {
        width: 12em;
    }
    
    .col img.cup-img {
        width: 12em;
    }
    
    .col img.coffee-beans-bag-img {
        width: 10em;
    }
}

@media (max-height: 500px) {
    .top {
        height: 100vh;
    }

    .bottom {
        height: 100vh;
    }
}