* {
    margin: 0;
}

body {
    height: 200vh;
}

header {
    border-bottom: 4px solid #FFBD59;
}

.top h2:first-child {
    float: left;
    margin-right: auto;
    margin-left: 2em;
    font-size: 4rem;
    color: #fff;
}

.top h2:nth-child(2) {
    font-size: 12rem;
}

.top-text {
    font-family: Lato;
    font-weight: bold;
    color: #FFBD59;
}

.top-text p {
    float: right;
    margin-left: auto;
    margin-right: 2em;
    font-size: 2rem;
    text-align: center;
    width: 50%;
    color: #fff;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BBAF99;
    background-image: url("../images/coffee-img-medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    color: #fff;
}

.top-text {
    height: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom {
    background-color: #BBAF99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 140vh;
    font-family: Lato;
    font-weight: bold;
    color: #533B31;;
}

.bottom-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
}

.bottom-text {
    font-size: 3rem;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 90%;
    width: 30%;
    margin: 8em 1em 5em 1em;
}

.img-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 45%;
    width: 100%;
}

.col-h {
    font-size: 2rem;
}

.bottom img {
    height: 15em;
}

.bottom p {
    width: 80%;
    font-size: 1rem;
    padding: 1em;
}

@media (max-width: 900px) {
    body {
        height: 290vh;
    }

    .top {
        height: 90vh;
    }

    .top h2:first-child {
        font-size: 2rem;
    }

    .top h2:nth-child(2) {
        font-size: 6rem;
    }

    .top-text p {
        font-size: 1.2rem;
    }

    .bottom {
        height: 200vh;
    }

    .bottom-col {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 90%;
    }

    .col {
        flex-direction: row;
        height: 50vh;
        width: 100%;
        margin: 0;
        text-align: left;
    }

    .img-box {
        justify-content: center;
        height: 100%;
        width: 50%;
    }
}

@media (max-width:500px) {
    body {
        height: 400vh;
    }

    .top {
        height: 100vh;
    }

    .bottom {
        height: 300vh;
    }

    .bottom img {
        width: 18em;
        height: auto;
    }

    .bottom-text {
        margin-bottom: .5em;
    }

    .col {
        height: 100vh;
        flex-direction: column;
    }

    .col-h {
        font-size: 1.5rem;
    }
}

@media (max-height: 500px) {
    .top {
        height: 100vh;
    }

    .bottom {
        height: 100vh;
    }
}