@font-face {
    font-family: 'DS-Digital Normal';
    font-style: normal;
    font-weight: normal;
    src: local('DS-Digital Normal'), url('../webfonts/DS-DIGI.woff') format('woff');
}

@font-face {
	font-family: 'Toledo-Bold';
	src: url('../webfonts/toledosfbold0.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #BBAF99;
}

.right-child {
    position: absolute;
    top: -100vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transition: 1s linear;
    z-index: 1;
}

.right-child.show {
    top: 10vh;
}

.modal-wrap {
    display: none;
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modal-wrap.show {
    display: block;
}

.modal {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
    background-color: #444;
    border-radius: 10px;
}

.modal.show { 
    display: block;
}

.modal-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-basis: 10%;
    background-color: #555;
}

.modal-top h3 {
    font-size: 1.7rem;
    margin: 5px 15px;
    font-family: Lato, sans-serif;
}

.modal-top i {
    font-size: 3rem;
    margin: 5px 15px;
    color: brown;
}

.modal-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    height: 90%;
    width: 100%;
    text-align: center;
}

.alert {
    display: none;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 1;
    width: 60%;
    padding: 15px 5px;
    transform: translate(-50%, 0);
    color: white;
    border: 4px solid brown;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.alert i {
    color: orange;
    font-size: 2rem;
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 30%;
    width: 35%;
    height: 90%;
}

.content-container i {
    color: cornflowerblue;
    font-size: 2rem;
}

.content-container p {
    font-family: Lato;
    color: white;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60%;
}

.img-container img {
    transform: scale(40%);
}

.action-icons {
    position: absolute;
    top: 2%;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5%;
    width: 100%;
}

.action-icons div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 135px;
    background-color: green;
    border-radius: 20px;
    cursor: pointer;
}

.action-icons div:hover {
    background-color: rgb(0, 100, 0);
    font-size: 1.1rem;
    transition: .5s;
}

.action-icons p {
    margin: 0 10px;
    color: white;
    font-weight: bold;
    font-family: Lato;
}

#arrow-icon,
#plus-icon {
    margin-left: -5px;
    font-size: 2rem;
    transition: 1s linear;
    color:#e08700;
}

#arrow-icon.show {
    transform: rotate(180deg);
}

.left-child {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.left-child.blur {
    filter: blur(2px);
}

.coffee-machine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40em;
    width: 40em;
    border-radius: 10px;
}

.coffee-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #709263;
}

.menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
    width: 100%;
    background-color: #526B48;
}

.menu-top h2 {
    width: 100%;
    font-family: Black-Jack regular;
    font-size: 2rem;
    /* letter-spacing: .3em; */
    color: #eee;
    font-weight: bold;
}

.menu-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 100%;
}

.menu-main img {
    width: 6em;
}

.menu-main h2, .menu-main li {
    font-family: Lato, sans-serif;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.menu-main li:first-child {
    list-style: none;
    text-align: center;
}

.menu-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
}

@media (max-width:1100px) {
    .alert {
        width: 75%;
    }

    .modal {
        height: 80%;
        width: 80%;
    }

    .menu-item {
        flex-basis: 60%;
    }
    
    .coffee-machine {
        height: 35em;
        width: 35em;
    }

    .menu-main img {
        width: 5em;
    }
}

@media (max-width:640px) {
    .alert {
        padding: 5px;
        top: 11%;
        width: 90%;
        font-size: 1.1rem;
    }

    .modal-wrap {
        position: absolute;
    }

    .modal {
        height: 90%;
        width: 90%;
    }

    .modal-mid {
        flex-direction: column;
        justify-content: flex-end;
    }

    .content-container {
        flex-direction: row;
        justify-content: center;
        height: 10%;
        width: 100%;
    }

    .content-container i {
        position: absolute;
        bottom: 15%;
        right: 20%;
    }

    .img-container {
        height: 60%;
    }

    .img-container img {
        transform: scale(30%);
    }
    .right-child {
        top: -150vh;
    }
    
    .right-child.show {
        height: 150vh;
    }
    
    .menu-item {
        flex-basis: 100%;
        flex-direction: column;
    }

    .menu-main h2 {
        font-size: 1.4rem;
    }

    .coffee-machine {
        height: 30em;
        width: 30em;
    }

    .menu-top {
        border-radius: 0;
    }
}

@media (max-width:400px) {
    .alert {
        padding: 5px;
        top: 12%;
        width: 100%;
        font-size: 1rem;
    }

    .alert i {
        font-size: 1.6rem;
    }

    .modal {
        height: 95%;
        width: 100%;
    }

    .modal-top h3 {
        font-size: 1.4rem;
    }

    .left-child {
        height: 80vh;
    }

    .coffee-machine {
        height: 25em;
        width: 25em;
    }
}