@font-face {
    font-family: 'DS-Digital Normal';
    font-style: normal;
    font-weight: normal;
    src: local('DS-Digital Normal'), url('../webfonts/DS-DIGI.woff') format('woff');
}

@font-face {
	font-family: 'Toledo-Bold';
	src: url('../webfonts/toledosfbold0.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    background-color: #BBAF99;
}

.right-child {
    position: absolute;
    top: -100vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transition: 1s linear;
    z-index: 1;
}

.right-child.show {
    top: 10vh;
}

#arrow-icon {
    position: absolute;
    top: 22%;
    right: 2%;
    font-size: 2.5rem;
    z-index: 2;
    transition: 1s linear;
    color: #444;
    cursor: pointer;
}

#arrow-icon.show {
    transform: rotate(180deg);
}

.left-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.coffee-machine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40em;
    width: 40em;
    border-radius: 10px;
}

.coffee-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #709263;
}

.menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
    width: 100%;
    background-color: #526B48;
}

.menu-top h2 {
    width: 100%;
    font-family: Black-Jack regular;
    font-size: 2rem;
    /* letter-spacing: .3em; */
    color: #eee;
    font-weight: bold;
}

.menu-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 100%;
}

.menu-main img {
    width: 6em;
}

.menu-main h2, .menu-main li {
    font-family: Lato;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}

.menu-main li:first-child {
    list-style: none;
    text-align: center;
}

.menu-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
}

@media (max-width:1100px) {
    .menu-item {
        flex-basis: 80%;
    }
    
    .coffee-machine {
        height: 35em;
        width: 35em;
    }

    .menu-main img {
        width: 5em;
    }
}

@media (max-width:640px) {
    .right-child {
        top: -150vh;
    }
    
    .right-child.show {
        height: 150vh;
    }
    
    .menu-item {
        flex-basis: 100%;
        flex-direction: column;
    }

    .menu-main h2 {
        font-size: 1.4rem;
    }

    .coffee-machine {
        height: 30em;
        width: 30em;
    }

    .menu-top {
        border-radius: 0;
    }
}

@media (max-width:400px) {
    .left-child {
        height: 80vh;
    }

    .coffee-machine {
        height: 25em;
        width: 25em;
    }
}