@font-face {
    font-family: 'DS-Digital Normal';
    font-style: normal;
    font-weight: normal;
    src: local('DS-Digital Normal'), url('../webfonts/DS-DIGI.woff') format('woff');
}

@font-face {
	font-family: 'Toledo-Bold';
	src: url('../webfonts/toledosfbold0.woff') format('woff');
}

body {
    margin: 0;
    height: 100vh;
}

button {
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 140vh;
    width: 100vw;
    background-color: #BBAF99;
}

.right-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    width: 40%;
}

.left-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60%;
}

.coffee-machine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35em;
    width: 40em;
    margin: 0;
    border-radius: 10px;
}

.coffee-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin-left: 1em;
    background-color: #709263;
}

.menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
    width: 100%;
    background-color: #526B48;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu-top h2 {
    width: 100%;
    font-family: Black-Jack regular;
    font-size: 2rem;
    /* letter-spacing: .3em; */
    color: #eee;
    font-weight: bold;
}

.menu-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 100%;
}

.menu-main img {
    width: 6em;
}

.menu-main h2, .menu-main li {
    font-family: Lato;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}

.menu-main li:first-child {
    list-style: none;
    text-align: center;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

@media (max-width:1100px) {
    .container {
        flex-direction: column-reverse;
        height: 280vh;
    }

    .right-child {
        height: 150vh;
        width: 100%;
    }

    .left-child {
        height: 120vh;
        width: 100%;
    }

    .coffee-menu {
        height: 100%;
        width: 60%;
        margin: 0;
    }

    .menu-top {
        justify-content: center;
        text-align: center;
        height: 10%;
        width: 100%;
        border-radius: 0;
    }

    .menu-main {
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .menu-item {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
    }

    .menu-main img {
        width: 5em;
     
    }
}

@media (max-width:640px) {
    .container {
        height: 200vh;
    }

    .left-child {
        height: 100vh;
    }

    .coffee-menu {
        height: 120vh;
        width: 100vw;
    }

    .menu-main h2 {
        font-size: 1.4rem;
    }

    .coffee-machine {
        height: 25em;
        width: 30em;
    }
}

@media (max-width:400px) {
    .container {
        height: 180vh;
    }

    .left-child {
        height: 80vh;
    }

    .coffee-machine {
        height: 20em;
        width: 25em;
    }
}