@font-face {
    font-family: 'Black-Jack regular';
    src: url('../webfonts/blackjack-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Lato';
	src: url('../webfonts/LatoLig.woff') format('woff');
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: #533B31;
    color: #fff;

}

h1 {
    width: 35%;
    float: left;
    margin-right: auto;
    font-family: Black-Jack regular;
    font-weight: normal; 
    font-size: 2.5rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Lato;
    font-weight: bold;
}

.nav-links {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    list-style: none;
}

li, a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

img {
    width: 7%;
}

@media (max-width:800px) {
    h1 {
        font-size: 1.7rem;
    }

    a {
        font-size: .8rem;
    }
}

@media (max-width:600px) { 
    h1 {
        font-size: 1.4rem;
    }

    a {
        font-size: .75rem;
    }
}

@media (max-width:500px) {
    h1 {
        font-size: 1rem;
        width: 10%;
    }

    a {
        font-size: .7rem;
    }

    .nav-links {
        padding-right: 1.5em;
        padding-left: 0;
    }
}

@media (max-width:400px) {
    a {
        font-size: .65rem;
    }

    .nav-links {
        padding-right: .3em;
        padding-left: .3em;
    }

    img {
        width: 3em;
    }
}

@media (max-height:500px) {
    header {
        height: 15vh;
    }
}