@font-face {
    font-family: 'Black-Jack regular';
    src: url('../webfonts/blackjack-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Lato';
	src: url('../webfonts/LatoLig.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: #533B31;
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

h1 {
    width: 35%;
    float: left;
    margin-right: auto;
    font-family: Black-Jack regular;
    font-weight: normal; 
    font-size: 2.5rem;
    cursor: default;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Lato;
    font-weight: bold;
}

.nav-links {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    list-style: none;
}

li, a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

li, a:hover {
    color: #e08700;
    transition: .5s;
}

header img {
    width: 4em;
}

@media (max-width:1024px) {
    h1 {
        font-size: 1.7rem;
    }

    a {
        font-size: .8rem;
    }
}

@media (max-width:640px) {
    h1 {
        display: none;
    }

    a {
        font-size: .7rem;
    }

    .nav-links {
        justify-content: space-between;
        padding-right: 1.5em;
        padding-left: 0;
    }
}

@media (max-width:360px) {
    header img {
        display: none;
    }

    a {
        font-size: .65rem;
    }

    nav {
        justify-content: center;
    }

    .nav-links {
        width: 90%;
        padding: 0;
    }
}

@media (max-height:500px) {
    header {
        height: 15vh;
    }
}